version: '3.3'

volumes:
  foodgram_data:
  static:
  media:

services:
  db:
    image: postgres:13.10
    volumes:
      - foodgram_data:/var/lib/postgresql/data/
    expose:
      - 5432
    env_file:
      - ../.env
    environment:
      DB_NAME: postgres
      DB_HOST: db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  backend:
    build: ../backend/
    restart: always
    expose:
      - 8000
    env_file:
      - ../.env
    environment:
      DB_NAME: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      DB_HOST: db
    command: >
      sh -c "python3 /app/manage.py migrate &&
             python3 /app/manage.py load_ingredients &&
             python3 /app/manage.py collectstatic --noinput &&
             cp -r /app/static/. /var/html/ &&
             cd /app/ &&
             gunicorn --bind 0.0.0.0:8000 foodgram.wsgi:application
             "
    volumes:
      - static:/app/static/
      - media:/app/media/
    depends_on:
      - db

  frontend:
    build: ../frontend/
    volumes:
      - ../frontend/:/app/result_build/
    depends_on:
      - db
      - backend

  nginx:
    image: nginx:1.19.3
    ports:
      - "8000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static:/var/html/static/
      - media:/var/html/media/
